.skillAll {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.skillAll>div {
    display: flex;
    flex-direction: column;
}

.skillAll>div>h4, .about>h4 {
    margin: 10px 0;
}
.skillAll>div:nth-child(2)>h4{
    height: 48px;
}

@media screen and (max-width:741px){
    .skillAll{
        display: block;
    }
    .skillAll>div {
        display: block;
    }
    .skillAll>div>h4, .about>h4 {
        margin: 20px 0;
    }
    .skillAll>div:nth-child(2)>h4{
        height: auto;
    }
}