.myInfo {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.myInfo div h2 {
    margin-bottom: 15px;
}

.myPhoto {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 70%;
    overflow: hidden;
    border: 3px solid white;
    box-sizing: border-box;
}


.MySline>canvas {
    margin: 0 auto;
    max-width: 750px;
    width: 90% !important;
    height: 90% !important;
}


@media screen and (max-width:610px) {
    .myInfo {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .myPhoto {
        margin: 0 auto 20px auto;
    }
}

.skillBox{
    margin-bottom: 12px;
}
